.titlePage {
    text-align: center;
    margin-top: 30px;
    font-family: Roboto;
    font-weight: bold;
}


.formsProject {
    align-items: center;
    max-width: 900px;
    margin: 30px auto;
}

.bottuns {
    margin: 20px auto;
}

.formsProject button {
    font-size: 14pt;
    font-weight: bold;
    margin-right: 15px;
}

.formsProject button:hover {
    color: black;
}

.formsProject a {
    font-size: 18px;
    font-weight: bold;
    color: white;
}

.subMenu {
    text-align: right;
    margin: 15px;
}

.table {
    border-collapse: collapse;
    border: 2px solid #10834b;
    width: 100%;
}

tbody {
    font-size: 110%;
    font-family: Arial;
    letter-spacing: 0px;
}

tfoot {
    font-weight: bold;
    font-size: 100%;
}

thead {
    background-color: #10834b;
    font-size: large;
    font-stretch: normal;
    text-align: left;
    color: ivory;
    font-family: Arial;
    letter-spacing: 0px;
}

td {
    text-align: left;
    border: 1px solid rgba(0, 0, 0, 0.2);
}